
<div class="pt-1" >
    <div class="col-md-12">
      <h2 class="text-center">Alerta del Activo</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <table>
        <h2 class="text-center">Datos Generales del Archivo</h2>
        <tr>
          VIDA UTIL
          <mat-dialog-content [formGroup]="IVidaUtil" name="IVidaUtil" class="agrega-container">
          <td>
                <input matInput type="string" placeholder="Vida Util" [formControl]="vidaUtil" >
          </td>
          <td>
                <input matInput type="string" placeholder="Fecha de Compra" [formControl]="fecha" >
          </td>
          <td>
                <input matInput type="string" placeholder="Vida Util Restante" [formControl]="vidaUtilRes" >
          </td>
          <td>
                <input matInput  placeholder="Genera Alerta cuando la vida util restante sea menor o igual a " [formControl]="generaAlerta" >
          </td>
          </mat-dialog-content>
          </tr>
  </table>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <table>
      <tr>Contrato de Arriendo
      <mat-dialog-content [formGroup]="IVidaUtil" name="IContrato" class="agrega-container">
        <td>
            <input matInput type="string" placeholder="Inicio Contrato" [formControl]="inicioContrato" >
        </td>
        <td>
            <input matInput type="string" placeholder="Termino Contrato" [formControl]="terminoContrato" >
        </td>
        <td>
            <input matInput type="string" placeholder="Tiempo Restante" [formControl]="tiempoRestante" >
        </td>
        <td>
            <input matInput  placeholder="Genera Alerta cuando queden " [formControl]="generaAlerta" >
        </td>
        </mat-dialog-content>
      </tr>
      </table>
</div>
</div>
<div>
    <button mat-raised-button (click)="cerrar()"  [disabled]=false>Cerrar</button>  
    <button mat-raised-button  [disabled]=false>Grabar</button>
</div>