<h2 mat-dialog-title class="text-center">Detalle de Artículo Farmacológico</h2>
<div class="content ml-2 mr-2">
  <div class="mat-elevation-z8">
    <table mat-table multiTemplateDataRows matSort class="mat-elevation-z8">
      <!-- GZEN row -->
      <ng-container matColumnDef="gzen">
        <th id='gzenI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Código</th>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.gzen}} </td>
      </ng-container>
  
      <!-- Grupo row -->
      <ng-container matColumnDef="grupo">
        <td id='grupoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Grupo</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.grupo}} </td>
      </ng-container>

      <!-- SubGrupo Column -->      
      <ng-container matColumnDef="subgrupo">
        <td id='subgrupoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>SubGrupo</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.subgrupo}} </td>
      </ng-container>

      <!-- Control Legal Column -->
      <ng-container matColumnDef="ctrlLegal">
        <td id='ctrlLegalI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Control Legal</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.ctrlLegal}} </td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <td id='tipoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Tipo</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.tipo}} </td>
      </ng-container>

      <!-- Medicamento Column -->
      <ng-container matColumnDef="medicamento">
        <td id='medicamentoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Medicamento</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.medicamento}} </td>
      </ng-container>

      <!-- Farmacéutica Column -->
      <ng-container matColumnDef="farmaceutica">
        <td id='farmaceuticaI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Farmacéutica</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.farmaceutica}} </td>
      </ng-container>

      <!-- Presentación Column -->
      <ng-container matColumnDef="presentacion">
        <td id='presentacionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Presentación</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.presentacion}} </td>
      </ng-container>

      <!-- Dosificación Column -->
      <ng-container matColumnDef="dosificacion">
        <td id='dosificacionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 100%;'>Dosificación</td>
        <td mat-cell *matCellDef="let row" style=' width: 100%;'> {{row.dosificacion}} </td>
      </ng-container>
      <ng-container matColumnDef="restricciones">
        <th id='restriccionesI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Restricciones</th>
        <td mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.restricciones}} </td>
      </ng-container>
      <ng-container matColumnDef="altTerapeutica">
        <th id='altTerapeuticaI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Alternativa Terapéutica</th>
        <td mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.altTerapeutica}} </td>
      </ng-container>
      <ng-container matColumnDef="observaciones">
        <th id='observacionesI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Observaciones</th>
        <td mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.observaciones}} </td>
      </ng-container>
      <!-- Ocultos 
          articulo, cantidad, descripcion, restricciones, altTerapeutica, observaciones -->
      <ng-container matColumnDef="articulo">
        <th [hidden]="show" id='articuloI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Artículo</th>
        <td [hidden]="show" mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.articulo}} </td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th [hidden]="show" id='cantidadI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Cantidad</th>
        <td [hidden]="show" mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.cantidad}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th [hidden]="show" id='descripcionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 12%;'>Descripción</th>
        <td [hidden]="show" mat-cell *matCellDef="let row" style=' width: 12%;'> {{row.descripcion}} </td>
      </ng-container>      

    </table>

    <mat-dialog-actions>
      <div class="col-md-6 text-center">
        <button mat-raised-button class="btn-primary" (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>