<h2 mat-dialog-title class="text-center">Detalle de Artículo Farmacológico</h2>
<div class="content ml-2 mr-2">
  <div class="mat-elevation-z8">
    <mat-dialog-content  name="consultaArticulo" class="consulta-container">
      <mat-form-field color="accent">
        <input matInput placeholder="Código"  value="{{this.data.codigoGzen}}" disabled='true' >
      </mat-form-field>
    
      <mat-form-field color="accent">
        <input matInput placeholder="Control Legal"  value="{{this.data.controlLegal}}" disabled='true' >
      </mat-form-field>
    
      <mat-form-field>
          <input matInput placeholder="Grupo" value="{{this.data.grupo}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Subgrupo" value="{{this.data.subGrupo}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Tipo" value="{{this.data.tipo}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Medicamento" value="{{this.data.medicamento}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Farmacéutica" value="{{this.data.fFarmacia}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Presentación" value="{{this.data.presentacion}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Dosificación" value="{{this.data.dosificacion}}" disabled='true'>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Alternativa Terapéutica" value="{{this.data.alternativa}}" disabled='true'>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Restricciones" value="{{this.data.restricciones}}" disabled='true'>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Observaciones" value="{{this.data.observaciones}}" disabled='true'>
      </mat-form-field>
    
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="col-md-12 text-center">
        <button mat-raised-button class="btn-primary" (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>