<div class="pt-1" >
    <div class="col-md-12">
      <h2 class="text-center">Detalle de Artículo Farmacológico</h2>
    </div>
</div>
  
<div class="row col-10 border">
  <div>
    <div class="row border-bottom">
    <div class=" border-end bg-light text-center">Datos del Arículo</div>
  </div>
  <div class="row border-bottom">
      <div class="col-md-4 border-end bg-light">ID</div>
      <div class="col-md-7">{{"id"}}</div>
  </div>
  <div class="row border-bottom">
    <div class="col-md-4 border-end bg-light">Grupo</div>
    <div class="col-md-7">{{"grupo"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 border-end bg-light">SubGrupo</div>
    <div class="col-md-7">{{"subgrupo"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Control Legal</div>
    <div class="col-md-7">{{"ctrlLegal"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Tipo</div>
    <div class="col-md-7">{{"tipo"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Código GZEN</div>
    <div class="col-md-7">{{"gzen"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Medicamento</div>
    <div class="col-md-7">{{"medicamento"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Farmacéutica</div>
    <div class="col-md-7">{{"farmaceutica"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Presentación</div>
    <div class="col-md-7">{{"presentacion"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Dosificación</div>
    <div class="col-md-7">{{"dosificacion"}}</div>
  </div>

</div>

  <mat-dialog-actions >
      <div class="col-md-12 text-center ">
        <button mat-raised-button  (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
      </div>
  </mat-dialog-actions>
  