.consulta-container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
  
  .consulta-container > * {
    width: 95%;
  }
  
  .colorFondoBoton {
    color: white;
    background-color: black;
  }
  
  .mat-raised-button {
    min-width: 100%;
  }
  
  .mat-dialog-container {
    padding: 50px !important;
  
  }
  
  .mat-dialog-content{
    margin: 0;
  }
  
  .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: rgb(33, 10, 88) !important;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #000000;
  }
  
  .mat-card-image {
    height: 100px;
    width: 50%;
    text-align: center;
  }
  
    .mat-card{
  
      border: 1px solid #807d7d;
      border-radius: 10px !important;
     }
  