<h2 mat-dialog-title>Ingreso Consumo</h2>

<mat-dialog-content [formGroup]="ingresoConsumo" name="ingresoConsumo" class="agrega-container">

  <mat-form-field>
    <input matInput  placeholder="Plan Anual" [formControl]="planAnual" required>
    <mat-error *ngIf="planAnual.invalid">{{getErrorMessage('planAnual')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="servicio" placeholder="Servicio" required>
      <mat-option *ngFor="let servicio of listaServicio" [value]="servicio.codigo">
        {{servicio.nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="servicio.invalid">{{getErrorMessage('servicio')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Código Articulo" [formControl]="codigoArticulo" (blur)="onBlurArticulo($event)" required>
    <mat-error *ngIf="codigoArticulo.invalid">{{getErrorMessage('codigoArticulo')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Descripción Artículo" [formControl]="descripcionArticulo" readonly>
    <mat-error *ngIf="descripcionArticulo.invalid">{{getErrorMessage('descripcionArticulo')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Saldo disponible antes de Consumo" [formControl]="saldoDisponibleantesConsumo" readonly>
    <mat-error *ngIf="saldoDisponibleantesConsumo.invalid">{{getErrorMessage('saldoDisponibleantesConsumo')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Cantidad a Consumir" [formControl]="cantidadConsumir" (blur)="onBlurSaldo($event)" required>
    <mat-error *ngIf="cantidadConsumir.invalid">{{getErrorMessage('cantidadConsumir')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Saldo disponible después de Consumo" [formControl]="saldoDisponibleDespuesConsumo" readonly>
    <mat-error *ngIf="saldoDisponibleDespuesConsumo.invalid">{{getErrorMessage('saldoDisponibleDespuesConsumo')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <div class="col-md-12 text-center">
      <button class="colorFondoBoton" mat-raised-button  (click)="enviar()"  mat-dialog-close [disabled]="ingresoConsumo.invalid">ACEPTAR</button>
    </div>
</mat-dialog-actions>
