<h2 mat-dialog-title>CONFIGURACIÓN DE ALERTAS</h2>

<mat-dialog-content [formGroup]="agregaArticulo " name="agregaArticulo" class="agrega-container">

  <mat-form-field>
    <input matInput placeholder="Ingrese Fecha Inicio" [matDatepicker]="dpdFechaSolicitud" [formControl]="fechaSolicitud" required>
    <mat-datepicker-toggle matSuffix [for]="dpdFechaSolicitud"></mat-datepicker-toggle>
    <mat-datepicker #dpdFechaSolicitud></mat-datepicker>
    <mat-error *ngIf="fechaSolicitud.invalid">{{getErrorMessage('fechaSolicitud')}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput type="number" placeholder="servicio" [formControl]="servicio" >
    <mat-error *ngIf="servicio.invalid">{{getErrorMessage('servicio')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Responsable" [formControl]="responsable" >
    <mat-error *ngIf="responsable.invalid">{{getErrorMessage('responsable')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Responsable" [formControl]="motivoCompra" >
    <mat-error *ngIf="motivoCompra.invalid">{{getErrorMessage('motivoCompra')}}</mat-error>
  </mat-form-field>



</mat-dialog-content>



<div *ngIf="!agregaArticulo.invalid">
  <div *ngIf="agregaArticulo">
    <app-agrega-suc2 [agregaArticulo]="agregaArticulo"></app-agrega-suc2>
  </div>
  </div>







