table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
}

th.mat-sort-header-sorted {
  color: black;
}

td.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

td.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}


.mat-row .mat-cell {

  background: none;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background: whitesmoke;
}



#solicitadosI, #consumidosI{
  border-left: 1.5px solid transparent;
  border-left-color: currentColor;
}

#headrePrimeraFilaGrupo3, #headrePrimeraFilaGrupo4{
  border-left: 1.5px solid transparent;
  border-left-color: currentColor;
  text-align: center;
}

