<div class="row">
  <div class="col-md-10 text-center ">
    <h2 mat-dialog-title>Creando Orden de Compra Manual</h2>
  </div>
  <div class="col-md-2 text-center ">
    <button  mat-raised-button (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
  </div>
</div>
<mat-dialog-content [formGroup]="agregaArticulo " name="agregaArticulo" class="agrega-container">

  <mat-form-field>
    <input matInput  placeholder="Númerom Orden de Compra" [formControl]="numOrdenCompra" #input [value]="input.value.toUpperCase()">
    <mat-error *ngIf="numOrdenCompra.invalid">{{getErrorMessage('numOrdenCompra')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo Documento Asociado</mat-label>
    <mat-select [formControl]="tipoDocumentoAsociado" required>
      <mat-option value="PAC">PAC</mat-option>
      <mat-option value="SUC">SUC</mat-option>
    </mat-select>
    <mat-error *ngIf="tipoDocumentoAsociado.invalid">{{getErrorMessage('tipoDocumentoAsociado')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput  placeholder="Número Documento Asociado" [formControl]="numDocumentoAsociado" #input1 [value]="input1.value.toUpperCase()">
    <mat-error *ngIf="numDocumentoAsociado.invalid">{{getErrorMessage('numDocumentoAsociado')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Fecha Inicio" [matDatepicker]="dpdFechaSolicitud" [formControl]="fechaSolicitud" required>
    <mat-datepicker-toggle matSuffix [for]="dpdFechaSolicitud"></mat-datepicker-toggle>
    <mat-datepicker #dpdFechaSolicitud></mat-datepicker>
    <mat-error *ngIf="fechaSolicitud.invalid">{{getErrorMessage('fechaSolicitud')}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput  placeholder="Empresa" [formControl]="empresa" #input2 [value]="input2.value.toUpperCase()">
    <mat-error *ngIf="empresa.invalid">{{getErrorMessage('empresa')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Rut" [formControl]="rut" #input3 [value]="input3.value.toUpperCase()">
    <mat-error *ngIf="rut.invalid">{{getErrorMessage('rut')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Descripción" [formControl]="descripcion" #input4 [value]="input4.value.toUpperCase()">
    <mat-error *ngIf="descripcion.invalid">{{getErrorMessage('descripcion')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Dirección Envío Factura" [formControl]="direccionEnvioFactura" #input5 [value]="input5.value.toUpperCase()">
    <mat-error *ngIf="direccionEnvioFactura.invalid">{{getErrorMessage('direccionEnvioFactura')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Dirección Despacho" [formControl]="direccionDespacho" #input6 [value]="input6.value.toUpperCase()">
    <mat-error *ngIf="direccionDespacho.invalid">{{getErrorMessage('direccionDespacho')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Forma Pago" [formControl]="formaPago" #input7 [value]="input7.value.toUpperCase()">
    <mat-error *ngIf="formaPago.invalid">{{getErrorMessage('formaPago')}}</mat-error>
  </mat-form-field>


</mat-dialog-content>



<div *ngIf="!agregaArticulo.invalid">
  <div *ngIf="agregaArticulo">
    <app-agrega-oc2 [agregaArticulo]="agregaArticulo"></app-agrega-oc2>
  </div>
  </div>







