<div class="pt-1" >
    <div class="col-md-12">
      <h2 class="text-center">Documentos Asociados al Activo</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
      <tr> Formulario Mantencion 
        <button>Cargar</button>
      </tr>
      <tr> Manual 
        <button>Cargar</button>
      </tr>
      <tr> Ficha Tecnica 
        <button>Cargar</button>
      </tr>
      <tr> Garantias 
        <button>Cargar</button>
      </tr>
      <tr> Factura 
        <button>Cargar</button>
      </tr>
      <tr> Contrato Arriendo 
        <button>Cargar</button>
      </tr>
</div>
</div>
<div class="col-md-4">
    <button mat-raised-button   (click)="cerrar()"  [disabled]=false>Cerrar</button>
</div>
