

<div class="pt-1" >
  <div class="col-md-12">
    <h2 class="text-center">Planes Anuales de Compra</h2>
  </div>
</div>

<div class="row col-3 border">
<div>
  <div class="row border-bottom">
    <div class=" border-end bg-light text-center">Datos PAC</div>
</div>
  <div class="row border-bottom">
      <div class="col-md-4 border-end bg-light">ID PAC</div>
      <div class="col-md-5">{{"idPac"}}</div>
  </div>
  <div class="row border-bottom">
    <div class="col-md-4 border-end bg-light">Plan Año</div>
    <div class="col-md-5">{{"planAno"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4  border-end bg-light">Servido</div>
    <div class="col-md-5">{{"servido"}}</div>
  </div>
</div>
</div>


<div class="content ml-2 mr-2">
<mat-form-field appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
</mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">


    <!-- Código Artículo Column -->
    <ng-container matColumnDef="codigoArticulo">
      <th id='codigoArticuloI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 3%;'>Código Artículo </th>
      <td mat-cell *matCellDef="let row" style=' width: 3%;'> {{row.codigoArticulo}} </td>
    </ng-container>

    <!-- detalle Column -->
    <ng-container matColumnDef="detalle">
      <th id='detalleI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 10%;'>Detalle </th>
      <td mat-cell *matCellDef="let row" style=' width: 10%;'> {{row.detalle}} </td>
    </ng-container>

    <!-- unidadDeMedida Column -->
    <ng-container matColumnDef="unidadDeMedida">
      <th id='unidadDeMedidaI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 7%;'>Unidad De Medida </th>
      <td mat-cell *matCellDef="let row" style=' width: 7%;'> {{row.unidadDeMedida}} </td>
    </ng-container>

    <!-- enero Column -->
    <ng-container matColumnDef="enero">
      <th id='eneroI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Ene.</th>
      <td id='eneroI' mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.enero}} </td>
    </ng-container>

    <!-- febrero Column -->
    <ng-container matColumnDef="febrero">
      <th id='febreroI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Feb.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.febrero}} </td>
    </ng-container>

    <!-- marzo Column -->
    <ng-container matColumnDef="marzo">
      <th id='marcoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Mar.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.marzo}} </td>
    </ng-container>

    <!-- abril Column -->
    <ng-container matColumnDef="abril">
      <th id='abrilI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Abr.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.abril}} </td>
    </ng-container>

    <!-- mayo Column -->
    <ng-container matColumnDef="mayo">
      <th id='mayoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>May.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.mayo}} </td>
    </ng-container>

    <!-- junio Column -->
    <ng-container matColumnDef="junio">
      <th id='junioI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Jun.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.junio}} </td>
    </ng-container>

    <!-- julio Column -->
    <ng-container matColumnDef="julio">
      <th id='julioI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Jul.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.julio}} </td>
    </ng-container>

    <!-- agosto Column -->
    <ng-container matColumnDef="agosto">
      <th id='agostoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Ago.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.agosto}} </td>
    </ng-container>

    <!-- septiembre Column -->
    <ng-container matColumnDef="septiembre">
      <th id='septiembreI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Sep.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.septiembre}} </td>
    </ng-container>

    <!-- octubre Column -->
    <ng-container matColumnDef="octubre">
      <th id='octubreI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Oct.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.octubre}} </td>
    </ng-container>

    <!-- noviembre Column -->
    <ng-container matColumnDef="noviembre">
      <th id='noviembreI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Nov.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.noviembre}} </td>
    </ng-container>

    <!-- diciembre Column -->
    <ng-container matColumnDef="diciembre">
      <th id='diciembreI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Dic.</th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.diciembre}} </td>
    </ng-container>

     <!-- catidadTotal Column -->
     <ng-container matColumnDef="catidadTotal">
      <th id='catidadTotalI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Catidad Total </th>
      <td id='catidadTotalI' mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.catidadTotal}} </td>
    </ng-container>

     <!-- valorUnitario Column -->
     <ng-container matColumnDef="valorUnitario">
      <th id='valorUnitarioI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Valor Unitario </th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.valorUnitario}} </td>
    </ng-container>

     <!-- montoTotal Column -->
     <ng-container matColumnDef="montoTotal">
      <th id='montoTotalI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Monto Total </th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.montoTotal}} </td>
    </ng-container>



     <!-- idLicitacion Column -->
     <ng-container matColumnDef="idLicitacion">
      <th id='idLicitacionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Id. Licitación </th>
      <td id='idLicitacionTd' mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.idLicitacion}} </td>
    </ng-container>

     <!-- idOc Column -->
     <ng-container matColumnDef="idOc">
      <th id='idOcI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Id. O/C </th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.idOc}} </td>
    </ng-container>

     <!-- totalComprado Column -->
     <ng-container matColumnDef="totalComprado">
      <th id='totalCompradoI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Total Comprado </th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.totalComprado}} </td>
    </ng-container>

     <!-- saldoLicitacion Column -->
     <ng-container matColumnDef="saldoLicitacion">
      <th id='saldoLicitacionI' mat-header-cell *matHeaderCellDef mat-sort-header style=' width: 5%;'>Saldo Licitación </th>
      <td mat-cell *matCellDef="let row" style=' width: 5%;'> {{row.saldoLicitacion}} </td>
    </ng-container>

    <!-- Header row first group -->
  <ng-container matColumnDef="header-row-primer-grupo">
    <th id="headrePrimeraFilaGrupo1" mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Articulos Solicitados </th>
  </ng-container>

  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-segundo-grupo">
    <th id="headrePrimeraFilaGrupo2" mat-header-cell *matHeaderCellDef [attr.colspan]="12"> Cantidad a utilizar x Mes </th>
  </ng-container>

  <!-- Header row tercer grupo -->
  <ng-container matColumnDef="header-row-tercer-grupo">
    <th id='headrePrimeraFilaGrupo3' mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Total Solicitado </th>
  </ng-container>


  <!-- Header row cuarto grupo -->
  <ng-container matColumnDef="header-row-cuarto-grupo">
    <th id='headrePrimeraFilaGrupo4' mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Ordenes de Compra </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['header-row-primer-grupo', 'header-row-segundo-grupo', 'header-row-tercer-grupo','header-row-cuarto-grupo']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>

<mat-dialog-actions >
    <div class="col-md-12 text-center ">
      <button mat-raised-button  (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
</mat-dialog-actions>
