table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
}

th.mat-sort-header-sorted {
  color: black;
}

td.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

td.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}


.mat-row .mat-cell {

  background: none;
  cursor: pointer;
  font-weight: bold;
}

.mat-row:hover .mat-cell {
  background: whitesmoke;
}

.mat-cell, .mat-footer-cell {
  font-size: 9px;
}

th.mat-header-cell, mat-header-cell {
  font-size: 10px!important;
}

#idLicitacionI {
  border-left: 3px solid transparent;

  border-left-color: currentColor;
}

