<app-loader></app-loader>
<h2 mat-dialog-title class="text-center">CONSULTA PAC</h2>

<mat-dialog-content  name="consulta" class="consulta-container">

  <mat-form-field color="accent">
    <input matInput placeholder="Código"  value="PAC-001" disabled='true' >
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Servicio"  value="Servicio" disabled='true' >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Campo1" value="Campo1" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Campo2" value="Campo2" disabled='true'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Campo3" value="Campo3" disabled='true'>
  </mat-form-field>



</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
    <div class="col-md-6">
      <button mat-raised-button  (click)="cerrar()" mat-dialog-close  [disabled]=false>Cerrar</button>
    </div>
</mat-dialog-actions>
