:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}
.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
}
.mat-list-item .routeIcon {
  margin-right: 40px;
}

.subMenu{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
