/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*
mat-dialog-container {
  padding:0!important;
}
mat-toolbar{
  color: rgb(255, 102, 0) !important;
  background-color: black !important;
}
.mat-button .mat-button-wrapper>*, .mat-fab .mat-button-wrapper>*, .mat-flat-button .mat-button-wrapper>*, .mat-icon-button .mat-button-wrapper>*, .mat-mini-fab .mat-button-wrapper>*, .mat-raised-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>* {
  vertical-align: baseline !important;
}
*/
/*Fin Ventanad modal AngularMaterial*/

/* Mantenedores Material*/
  /* Titulos Mantenedores*/
.mat-dialog-title{
  color: rgb(247, 247, 247) !important;
  background-color: black !important;
  font-size: 14px!important;
  text-align: center;
}
/* Fin Titulos Mantenedores*/

td.mat-cell:last-of-type{
  padding-right: 0px;
}

th.mat-cell:last-of-type{
  padding-right: 0px;
}
tr.mat-header-row {
  height: 45px !important;
}
  th.mat-header-cell,mat-header-cell{
    color: rgb(247, 247, 247) !important;
    background-color: black !important;
    font-size: 11px!important;

  }

  tr.example-element-row:hover {
    background: hsla(24, 96%, 49%, 0.733);
  }

  tr.example-element-row:active {
    background: #2904f8;
  }

  tr.mat-footer-row, tr.mat-row {
    height: 30px !important;
}

.mat-cell, .mat-footer-cell {
    font-size: 11px;
}


.material-icons {

  font-size: 18px !important;

}

button.mat-accent{
  color:rgb(255, 102, 0) !important;;
}
button.mat-accent:hover{
  color:black !important;
}
button.mat-accent.nuevo:hover{
  color:white !important;
}
/* Fin Mantenedores Material*/

/*Agregar Material*/
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px !important;;
}
/*Agregar Material*/
